autopep8==1.6.0
beautifulsoup4==4.10.0
billboard.py==6.2.1
certifi==2021.5.30
charset-normalizer==2.0.4
idna==3.2
pycodestyle==2.8.0
pynput==1.7.6
pyobjc-core==8.5
pyobjc-framework-ApplicationServices==8.5
pyobjc-framework-Cocoa==8.5
pyobjc-framework-Quartz==8.5
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.6
